.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nooutline {
  outline: none;
}

.nooutline:focus {
  outline: 2px solid var(--canvastext);
  outline-offset: -6px;
}

* {
  outline: none;
}
.mainPanelStyle{
  width:100%;
}
