input, textarea, select, a { outline: none; }

.textInputSurroundingBox {
  display: inline-block;
  position: relative;
}

.textInputSurroundingBox .mathPreview{
  display: block;
  position: absolute;
  right: -10%;
  top: 55%;
  transform: translateY(-50%) translateX(100%);
  background-color: black;
  opacity: 0.9;
  color: white;
  padding: 3px;
}
/* 
.textInputSurroundingBox .mathPreviewTriangle{
  display:block;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-40%) translateX(100%);
  opacity: 0.8;
  width: 14px;
  height: 14px;
  z-index: 11;
  border-right: 7px solid black;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
} */

.textInputSurroundingBox .mathPreviewTriangle{
  display:none;
}
