body {
    font-size: 14px;
    background-color: rgb(246, 248, 255);
    font-family: "Lato", "Open Sans", sans-serif;
    line-height: 1.6em;
    overflow: hidden;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}