.drivecardContainer * {
  box-sizing: border-box;
  user-select: none;
}

.drivecardContainer {
  margin: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  justify-content: center;
}

.borderselection{
  border : 2px solid black;
}
.list {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  width: 100%;
  height: 100%;
}
.adiv {
  /* position: absolute; */
  will-change: transform, width, height, opacity;
  padding: 15px;
}
