.drivecardContainer * {
  box-sizing: border-box;
  user-select: none;
}

.drivecardContainer {
  margin: 0;
  width: 100%;
  justify-content: center;
  overflow:hidden;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  width: 100%;
  padding: 15px;
  overflow-y: scroll;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  outline:none;
}
.adiv {
  /* position: absolute; */
  will-change: transform, width, height, opacity;
  padding: 15px;
}
