/* SECTION: BASIC STYLES */
.switch {
  font-size: 18px;
  font-family: sans-serif;
}

.switch label {
  position: relative;
  display: inline-flex;
  width: 2.5em;
  min-height: 1em;
  vertical-align: top;
  isolation: isolate;
  align-items: flex-start;
  cursor: pointer;
  margin-right: 1em;
}

.switch input {
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  height: 1em;
  width: 3em;
  z-index: 1;
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.switch-visual {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 2em;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 1em;
  border-width: .5em;
  order: 0;
}

.switch-visual::before{
  content: "";
  height: 1em;
  width: 1em;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .switch-visual {
  background-color: #2196F3;
}

input:focus + .switch-visual {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-visual:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

.switch-text {
  display: block;
}