.Doenet-table {
    border-collapse: collapse;
    line-height: 1em;
}

/* all rows */
.Doenet-table thead tr,
.Doenet-table tbody tr,
.Doenet-table tfoot tr {
    border-bottom: 1px #B8B8B8 dashed;
}

/* revise rows in thead */
.Doenet-table thead tr th {
    border-bottom: solid 1px #B8B8B8;
    border-top: solid 1px #B8B8B8;
    background-color: #e0e0e0;
}

.Doenet-table tbody tr th {
    border-top: solid 1px #B8B8B8;
    background-color: #f0f0f0;
}

/* all cells */
.Doenet-table thead tr th,
.Doenet-table thead tr td,
.Doenet-table tbody tr th,
.Doenet-table tbody tr td {
    padding: 0.5em;
}


.DTable-footer-column {
    font-weight: bold;
    background-color: #c8c8c8
}

.DTable-footer-column {
    text-align: right;
}