.snowpack
build
dist_local
node_modules


# production
# /dist

# local build files
/dist_local


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production
.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

.vscode
# src/Tools/test/testCode.doenet
#ignore the distribution
# dist/index.html
# dist/main.js
dist_local/*

cypress/videos
cypress/screenshots

src/tempcodes

# Docker testing environment
docker\ deb/
docker\ alp/

#Docker mysql db
doenet_docker/volumes/db/*

.eslintrc.js

src/API/vendor

src/Media/bydoenetid/

src/Media/byPageId/
