version: '3.9'

services:
  dev:
    image: lyanthropos/doenet_test:snowpack-dev
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./:/home/node/workspace
      - node_modules:/home/node/workspace/node_modules
    networks:
      - dev_net
    environment:
      - CYPRESS_CACHE_FOLDER=/home/node/workspace/.cache/Cypress

  apache:
    image: lyanthropos/doenet_test:apache-dev
    ports:
      - 8080:80
    volumes:
      - ./dist:/usr/local/apache2/htdocs/
      - ./src/Api:/usr/local/apache2/htdocs/api
      - ./cypress_php/api:/usr/local/apache2/htdocs/cyapi
      - ./src/Media:/usr/local/apache2/htdocs/media
      - ./doenet_docker/apache/apache.conf:/usr/local/apache2/conf/httpd.conf
    networks:
      - dev_net
    depends_on:
      - php
      - mysql
    restart: always

  php:
    image: lyanthropos/doenet_test:php-dev
    volumes:
      - ./src/Api:/usr/local/apache2/htdocs/api
      - ./cypress_php/api:/usr/local/apache2/htdocs/cyapi
      - ./src/Media:/usr/local/apache2/htdocs/media
      - vendor:/usr/local/apache2/htdocs/api/vendor
    networks:
      - dev_net
    restart: always

  mysql:
    image: lyanthropos/doenet_test:mysql-dev
    ports:
      - 3306:3306
    volumes:
      - ./doenet_docker/volumes/db:/var/lib/mysql
      - ./doenet_docker/volumes/db_init:/docker-entrypoint-initdb.d
    networks:
      - dev_net
    restart: always

  rtnode:
    image: node:lts-alpine3.13
    user: 'node'
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
      - node_modules:/home/node/app/node_modules
    command: 'npm run realtime'
    ports:
      - '81:81'
    networks:
      - dev_net

volumes:
  node_modules:
  vendor:

networks:
  dev_net:
