:root {
  --bg: #8FB8DE;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 200px;
  --border: 1px solid #474a4d;
  --border-radius: 4px;
  --speed: 500ms;
}

.menu-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-container a {
  color: var(--text-color);
  text-decoration: none;
}

.menu-container button {
  color: var(--text-color);
  text-decoration: none;
}

.menu-container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 2fr;
  grid-auto-flow: column;
  gap: 8px;
  align-items: center;
  box-sizing: border-box;
  height: 24px;
  width: 100%;
  max-width: 240px;
  font-size: 11px;
  font-weight: 500;
  /* outline: 1px solid blue; */
  outline: none;
}

.menu-label {
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-button {
  display: grid;
  grid-template-columns: auto 12px;
  grid-auto-flow: column;
  gap: 8px;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 4px 0px 8px;
  border-width: var(--border);
  background-color: var(--bg);
  border-radius: var(--border-radius);
  width: 100%;
  height: 24px;
}

.menu-button-icon {
}

.menu-option-label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item-container {
  position: absolute;
  width: 70%;
  top: 0px;
  right: 8px;
  z-index: 1;
  background-color: var(--bg);
  border-width: var(--border);
  border-radius: var(--border-radius);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  width: inherit;
  height: 24px;
  transition: background var(--speed);
  padding: 4px 8px;
}

.menu-item:hover {
  background-color: #1A5A99;
}

.menu-item-icon {
  margin-left: auto;
}
