.doenetComponentBackgroundInactive {
    color: #E2E2E2;
}

.doenetComponentForegroundInactive {
    color: #3d3d3d;
}

.doenetComponentBackgroundActive {
    color: #288ae9;
}

.doenetComponentForegroundActive {
    color: #1a5a99;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }