body{
  background-color: rgb(246, 248, 255);
  padding: 0;
  margin: 0;
}
.leftpanel{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 1vh;
  overflow: hidden;
}

.middlepanel{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 1vh;
  overflow: hidden;


}
.rightpanel{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 1vh; 
  overflow: hidden;

}

.resizerfirst{
  width: 5px;
  border-right:1px solid black;
  position:relative;
  cursor: col-resize;
  flex-shrink: 0;
}

.resizersecond{
  width: 5px;
  border-left: 1px solid black;
  position: relative;
  cursor: col-resize;
  flex-shrink: 0;
}

.menucontent{
  display:flex;
  min-height: 40px;
  margin:0px;
  padding:0px;
}

.maincontent{
  margin:0px;
  padding:0px;
  overflow: scroll;
  /* position: relative; */
  -ms-overflow-style: none;
  scrollbar-width:none;
  height:calc(100vh - 100px);
}

.maincontent::-webkit-scrollbar {
  display: none;

}

@media only screen and (max-width: 767px) {
.maincontent{
height:calc(100vh - 190px);
/* position: relative; */

}
}



.phonebuttoncontainer{
  display : flex;
  width: 100%;
  bottom: 0.1px;
  height: calc(100vh - 96vh);
  position: fixed;
  left: 0px;
  text-align: center;
}
.phonebutton{
    color: white;
    background-color: black;
    width: 100%;
}