/* Customize the label (the container) */
.container {
  /* display: inline-block; */
  position: relative;
  padding-left: 24px;
  margin-bottom: 4px;
  margin-right: 2px; /* 2px less than other components (6px marginRight) due to the 2px marginLeft on label */
  margin-left: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-disabled {
  cursor: not-allowed;
}

/* .button-container {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    margin-right: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--mainGray);
  border-style: solid;
  border-color: var(--canvastext);
  border-radius: var(--mainBorderRadius);
  border-width: 2px;
  box-sizing: content-box;
}

.checkmark-disabled {
  background-color: var(--mainGray);
  border-color: var(--mainGray);
}

/* On mouse-over, add a light blue background color */
.container:hover input ~ .checkmark {
  background-color: var(--lightBlue);
}

/* On mouse-over of disabled, keep the grey background color */
.container:hover input ~ .checkmark-disabled {
  background-color: var(--mainGray);
}

/* When the checkbox is checked, add a dark blue background */
.container input:checked ~ .checkmark {
  background-color: var(--mainBlue);
}

/* When a checkbox has focus, add a dark blue outline */
.container:focus-within input ~ .checkmark {
  outline: 2px solid var(--canvastext);
  outline-offset: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid var(--canvas);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
