.mathInputStyle { /* Style the EditableMathField */

    /* Set each border attribute separately since the borderColor is updated during rerender (checking mathInput's disabled state)
    Currently does not work with border: "var(--mainBorder)" */
    border-color: "black";
    border-style: "solid";
    border-width: "2px";
    margin: "0px 4px 4px 4px";
}

.mathInputStyle:focus {
    outline: var(--mainBorder);
    outline-offset: 2px;
}

.mathInputWrapper { /* Style the EditableMathField Wrapper */
    cursor: "pointer";
    margin-bottom: "4px";
}