body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
  overflow-y: scroll;
}

.elem {
  height: 50px;
  width: 50px;
  border: 1px solid magenta;
}
.box {
  display: flex;
  width: 100%;
}

.area {
  width: 70%;
  margin-left: 100px;
  border: 1px dotted;
}

.item {
  background: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
}

.item:hover {
  cursor: pointer;
  background: #f5f6f7;
}

.container {
  width: 50%;
  height: 100%;
  position: relative;
  background: #dfe3e6;
  border-radius: 5px;
  margin-right: 40px;
  padding: 10px;
  min-height: 30px;
}