body{
  background-color: rgb(246, 248, 255);
  padding: 0;
  margin: 0;
  overflow: hidden;
}
button{
  outline:none;
}

.leftpanel{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 1vh;
  overflow: hidden;
  width:100%;
  background-color: #288ae9;
  /* background-repeat: repeat-y; */
  /* background-image: url('../../media/doenet_bg.png'); */
}

.middlepanel{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 1vh;
  overflow: hidden;
  background-color: white;
}

.rightpanel{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 1vh; 
  overflow: hidden;
  background-color: white;
}

.column-resizer{
  cursor: col-resize;
}

.left-resizer{
  cursor: e-resize;

}

.right-resizer{
  cursor: w-resize;
}

.resizer{
  width: 3px;
  /* padding-left: 1px;
  padding-right: 1px; */
  position:relative;
  flex-shrink: 0;
  background-color: #E3E3E3;
  opacity:0.5;

}


.panels-header-content{

    min-height: 60px;
    max-height: 60px;
    margin: 0px;
    /* z-index: 3; */
    background-color: white;
    border-bottom: 1px solid #E3E2E2;
  /* min-height: 60px;
  max-height: 60px;
  margin:0px;
  background-color: white;
  border-bottom: 1px solid #E3E2E2; */
  
}
.panels-header-controls{
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* margin: 10px 10px;
  display: inline-block; */
}

.leftCloseButton{
  width: 28px;
  height:40px;
  background-color: white;
  border-radius: 20px 0 0 20px;
  margin: 10px 0 10px 0;
  float: right;
  border: 1px solid #E3E2E2;
  padding: 2px 4px;
  font-size: 16px;
  cursor: pointer;
  order:1;
}
.custom{
  color: #288ae9;
  border-radius: 20px 0px 0px 20px;
 height:40px;
 width:28px;
}
.rightCloseButton{
  width: 28px;
  height:40px;
  background-color: white;
  border-radius: 0 20px 20px 0;
  margin: 10px 0 10px 0;

  border: 1px solid #E3E2E2;
  padding: 2px 4px;
  font-size: 16px;
  cursor: pointer;

}
.middleLeftButton{
  width: 28px;
  height:40px;
  background-color: white;
  border-radius: 0 20px 20px 0;
  margin: 10px 0 10px 0;
  border: 1px solid #E3E2E2;
  padding: 11px 8px;
  font-size: 16px;
  cursor: pointer;

}
.middleRightButton{
  width: 28px;
  height:40px;
  background-color: white;
  border-radius: 20px 0 0 20px;
  margin: 10px 0 10px 0;
  float: right;
  border: 1px solid #E3E2E2;
  padding: 2px 8px;
  font-size: 16px;
  cursor: pointer;
  order: 1;
}


@media only screen and (max-width: 767px) {
  .footer-on {
    margin-bottom: 30px;
  }

 .phonebuttoncontainer{
  display : flex;
  width: 100%;
  bottom: 0.1px;
  left: 0px;
  position: fixed;
  z-index:5;
  text-align: center;
}

.phonebutton{
    color: white;
    background-color: black;
    width: 100%;
} 
.tool-footer{
  height:60px;
  ;
}

.leftCloseButton{
  display:none;
}
.rightCloseButton{
  display: none;
}
.middleLeftButton{
display: none;

}
.middleRightButton{
  display: none;

}

}
 
