.appTopNav {
    background-color: lightgrey;
}

.placeholder {
    background-color: lightblue;
    padding-top: 30px;
    height: 100px;
    text-align: center;
}

.appAdminPanel {
    margin-left: 400px;
    margin-right: 350px;
}

h2 {
    padding-top: 50px;
    margin-right: "50px";
}

    
@media only screen and (max-width: 950px) {

    .appTopNav {
        background-color: lightgrey;
    }

    .appAdminPanel {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    h2 {
        padding-top: 50px;
    }

    .course-outline {
        margin-right: 900px;
    }
}

@media only screen and (max-width: 750px) {

    .appTopNav {
        background-color: lightgrey;
    }

    .appAdminPanel {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    h2 {
        padding-top: 50px;
    }

    .course-outline {
        margin-right: 900px;
    }
}

@media only screen and (max-width: 600px) {

    .appTopNav {
        background-color: lightgrey;
    }

    .appAdminPanel {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    h2 {
        padding-top: 50px;
    }

    .course-outline {
        margin-right: 700px;
    }

    @media only screen and (max-width: 550px) {

        .appTopNav {
            background-color: lightgrey;
        }
    
        .appAdminPanel {
            margin-left: 0px;
            margin-right: 0px;
            width: 70px;
        }
        
        h2 {
            padding-top: 50px;
        }
    
        .course-outline {
            margin-right: 2000px;
        }
    }
  }
