body{
    background-color: rgb(246, 248, 255);
    padding: 0;
    margin: 0;
    font-family: 'Droid Serif','Georgia', 'Times New Roman', 'Times', 'serif';
}

.courseContainer{
    display:grid;
    /* grid-template-columns: 120px 130px auto 140px; */
    grid-template-columns: 250px auto;
    grid-template-rows: 60px auto;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.homeLeftNav{
    background-color: rgb(228, 228, 228);
    padding: 6px;
    grid-column: 1 / 2;
    grid-row: 2 /  3;
    overflow: scroll;
}
.homeActiveSection{
    /* background-color: rgb(243, 0, 0); */
    grid-column: 2 / span 3;
    grid-row: 2 / 3;
    padding: 5px;
    overflow: scroll;
}

.homeMainMenuItem{
    padding: 5px;
    border-bottom: 1px solid rgb(110, 110, 110);
    cursor: pointer;
}
.homeMainMenuItem:hover{
    background-color: rgb(173, 173, 173);
}


#grades {
  border-spacing: 0;
  border-collapse: separate;
  width: 807px;
  margin: 10px;
}

#grades td {
    padding: 7px;
    text-align: left;
    
}
/* #grades .typeDataRow :hover{
    background-color: brown;
} */

#grades .typeSubTotalDataRow td {
    border-bottom-color: rgb(179, 178, 178);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
}
#grades .typeSubTotalDataRow td:first-child {
    text-align: left;
}
 

#grades .typeDataRow td {
    border-bottom-color: rgb(179, 178, 178);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    text-align: center;

}
#grades .typeDataRow td:first-child {
    text-align: left;
}
#grades .assignmentLink {
    color:rgb(102, 0, 102);
    cursor: pointer;

}
#grades .assignmentLink:hover {
    text-decoration: underline;
}
/* #grades .typeDataRow td {
    text-align: center;
} */


#grades th {
    padding: 7px;
    text-align: left;
    border-bottom-color: rgb(184, 184, 184);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.colHeadingsRow {
    background-color: rgb(224, 224, 224);
    font-weight: bold;
    color: rgb(0,0,0);
    font-size: 14px;
    line-height: 21px;
    /* border-color: rgb(204, 204, 204); */
}

#grades .colTotalRow {
    background-color: rgb(224, 224, 224);
    font-weight: bold;
    color: rgb(0,0,0);
    font-size: 14px;
    line-height: 21px;
}
#grades .colTotalRow td {
    text-align: center;
    border-bottom: 1px solid rgb(184, 184, 184);

}
#grades .colTotalRow td:first-child {
    text-align: left;
}


.typeHeadingRow {
    background-color: rgb(240, 240, 240);
    border-bottom-color: rgb(179, 178, 178);
    border-bottom-style: dashed;
    border-bottom-width: 1px;

    color: rgb(51, 51, 51);
    font-size: 14px;
    line-height: 21px;
    padding: 10px 7px 10px 7px;
    text-align: left;
    font-weight: bold;
    
}

/* Style the accordion section */
.accordion__section {
    display: flex;
    flex-direction: column;
  }
  
  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover,
  .active {
    background-color: #ccc;
  }
  
  /* Style the accordion content title */
  .accordion__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
  }
  
  /* Style the accordion chevron icon */
  .accordion__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
  }
  
  /* Style to rotate icon when state is active */
  .rotate {
    transform: rotate(90deg);
  }
  
  /* Style the accordion content panel. Note: hidden by default */
  .accordion__content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
  }
  
  /* Style the accordion content text */
  .accordion__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
  }

  .assignmentContainer{
    display:block;
    height: 100vh;
    width: auto;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

.SectionContainer {
    display:flex;
    justify-content: flex-end;
    padding: 2;
    margin: 1px 0px 1px 0px;
    cursor: pointer;

}
.SectionContainer-Active {
    display:flex;
    justify-content: flex-end;
    background-color: rgb(151, 155, 151);
    padding: 2;

}
.Section-Text {
    display:flex;
    flex-grow: 1;
    font-size: 18px;
    padding:6px;

}
.Section-Icon {
    font-size:18px;
}
.Section-Icon-Box {
    padding:6px;
}
@media only screen and (max-width: 600px) {
    .courseContainer{
        grid-template-rows: 120px auto;
    }
  }