body{
    background-color: rgb(246, 248, 255);
    padding: 0;
    margin: 0;
}
.leftNavSelectedIcon{
    color: rgb(94, 94, 94);
}
.leftNavUnSelectedIcon{
    color: rgb(180, 180, 180);
}
.appcontainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 40px auto 25px;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.appLeftNav{
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
    /* background-color: rgb(163, 154, 118); */
}
.leftNavIcon {
    padding-top: 5px;
    padding-bottom: 40px;
}

.appTopNav{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /* background-color: rgb(134, 157, 213); */

    /* background-color: rgb(144, 201, 232); */
}
.appTopNav1{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    /* background-color: rgb(134, 157, 213); */

    /* background-color: rgb(144, 201, 232); */
}

.appBottomInfo{
    grid-column: 1 / span 4;
    grid-row: 3 / 4;
    /* background-color: rgb(211, 222, 250); */
    background-color: rgb(246, 248, 255);
    font-size: 10pt;
}
.appEditorProps{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    overflow: scroll;
    resize: "vertical";
    padding: 10px;
    /* background-color: rgb(138, 230, 84); */
}
.appEditor{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 10px;
    overflow: scroll;
}
.appAdminPanel{
    grid-column: 3 / span 2;
    grid-row: 2 / 3;
    /* overflow: scroll; */
    /* background-color: rgb(249, 255, 130); */
}
.appUserPanel{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    padding: 6px;
    background-color: rgb(116, 182, 213);
}

.doenetappSelectionPanel{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: scroll; 
    /* background-color: rgb(165, 62, 230); */
}