#branchBrowser {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#contentList{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100%;
  /* width: calc(100% - 400px); */
}

#browser {
  display: block;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

#browser tbody {
  display: block;
  width: 100%;
  max-height: 77vh;
  padding-right: 15px;
  margin-right: 5px;
  padding-bottom: 10%;
  overflow-y: scroll;
}

tbody::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

tbody::-webkit-scrollbar-thumb {
	background-color: #919191;
}

.browserHeadingsRow {
  position: sticky;
  top: 0;
  z-index: 5;
  background: white;
}

.browserHeadingsRow th{  
  padding: 12px 15px;
  text-align: left;
  color: #6c737a;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
}

#browser td {
  text-align: left;
  padding: 13px 15px;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
}

#browser tr {
  width: 100%;
  display: table;
}

.browserHeadingsRow th:hover, .browserSelectedHeading {
  color: #2d2d2d !important;
}

.sortOrderIcon {
  font-size: 14px;
  margin-right: 5px;
  color: #656565;
}

.browserDataRow:hover {
  background-color: #ebf3ff;
}

.browserSelectedRow {
  background-color: #e6efff;
}

.browserSelectedRow td {
  color: #2675ff;
  border-bottom: none !important;
}

.browserItemName {
  font-weight: 700;
  width: 40%;
}

.draftDate {
  width: 25%;
}

.publishDate {
  width: 25%;
}

.addContentButtonWrapper, .addContentToCourseButtonWrapper, .removeContentButtonWrapper {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor:pointer;
}

.addContentButtonWrapper {
  top: -2px;
  left: -25px;
}

.removeContentButtonWrapper {
  right: 0px;
}

.addContentToCourseButtonWrapper {
  right: 16px;
}

.addContentButton {
  font-size: 16px;
  color: #a0a0a0;
  transition: 0.2s;
}

.addContentButtonWrapper:hover .addContentButton {
  color: #6f6f6f;
}

.removeContentButton {
  font-size: 16px;
  color: #ff0000;
  transition: 0.2s;
}

.removeContentButtonWrapper:hover .removeContentButton {
  color: #b50000;
}

.addContentButtonInfo, .removeContentButtonInfo {
  display: none;
  position: absolute;
  top: 25px;
  left: 0px;
  font-size: 11px;
  padding: 1px 4px;
  color: #fff;
  background: #7b7b7b;
  white-space: nowrap;
}

.addContentButtonWrapper:hover .addContentButtonInfo,
.removeContentButtonWrapper:hover .removeContentButtonInfo {
  display: block;
}

.removeContentButtonInfo {
  left: -35px;
}

/*** Info Panel ***/

.infoPanel {
  display: inline-block;
  width: 400px;
  height: 82vh;
  flex-wrap: wrap;
  overflow-y: scroll;
  border-left: 1px solid #cdcdcd;
  padding-bottom: 20px;
}

.infoPanelTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 25px 20px;
  border-bottom: 1px solid #cdcdcd;
  line-height: 1.3;
}

.infoPanelItemIcon {
  display: inline;
  font-size: 17px;
  color: #8c8c8c;
}

.infoPanelTitle span {
  display: inline;
  font-size: 23px;
  margin-left: 10px;
}

.infoPanelPreview {
  height: 30vh;
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(191, 191, 191);
}

.infoPanelDetails {
  padding: 25px 20px;
}

#infoPanelDetailsTable {
  width: 100%;
}

#infoPanelDetailsTable td {
  vertical-align: top;
  text-align: left;
  font-size: 14px;
  line-height: 25px;
}

.infoPanel::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

.infoPanel::-webkit-scrollbar-thumb {
	background-color: #919191;
}

.itemDetailsKey {
  width: 10em;
  color: #5f6368;
}

.itemDetailsValue {
  width: auto;
  color: #202124;
  padding-right: 20px;
}

.infoPanelDetailsFolderItem {
  display: block;
  cursor: pointer;
  font-weight: 600;
  color: #696969;
}

.infoPanelDetailsFolderItem:hover {
  color: #2e2e2e;
}

#editContentButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;;
  width: 100%;
  margin: 20px 0px;
}

#editContentButton {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  align-items: center;
  justify-content: space-around;;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 24px;
  color: #606467;
  display: inline-flex;
  font-weight: 700;
  font-size: 14px;
  height: 48px;
  line-height: 22px;
  margin-right: 20px;
  min-width: 120px;
  padding: 0px 10px 0px 6px;
  text-transform: none;
  cursor: pointer;
}

#editContentButton:hover, #publicizeRepoButton:hover {
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
  background-color: #f8f9fa;
  outline: none;
}

#publicizeRepoButton {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 24px;
  color: #000000;
  display: inline-flex;
  font-size: 13px;
  line-height: 19px;
  text-transform: none;
  cursor: pointer;
  margin-left: 7px;
}

/*** Breadcrumb ***/

.breadcrumbSeparator {
  color: #8a8a8a;
  margin: auto 6px;
  user-select: none;
  font-size: 22px;
}

.breadcrumbList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  padding: 12px 0;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  margin: 0;
}

.breadcrumbItem {
  font-size: 18px;
  margin: 2px 0;
  padding: 4px 8px 4px;
  color: #8a8a8a;
}

.breadcrumbItem:hover {
  color: #2d2d2d;
}

.breadcrumbItem:last-child {
  color: #2d2d2d;
}

#browserEmptyMessage {
  display: flex;
  width: 100%;
  height: 85%;
  justify-content: center;
  align-items: center;
  padding-top: 10em;
}

#browserEmptyMessage span {
  font-size: 1.4em;
  color: #b3b3b3;
}