body{
  background-color: rgb(246, 248, 255);
  padding: 0;
  margin: 0;
}
.button {
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
.button_disabled {
  background-color: white; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
#chooserContainer{
  display: grid;
  grid-template-columns: 200px auto;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 20px 0px 0px 0px;
}

#chooserBoxes{
  grid-column: 2 / 3;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.branchBox{
  border-radius: 15px;
  border: 2px solid rgb(43, 43, 43);
  padding: 0px 20px 10px 20px;
  width: 200px;
  height: 100px;
  margin: 10px;
  z-index: 0;
}

.editButton {
  position: relative;
  left: 130px;
  top: -10px;
  z-index: 0;
  cursor: pointer;
}

/* #contextPanel{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  overflow: scroll; 
}  */

@media only screen and (max-width: 375px) {
  #chooserContainer {
    display: block;
  }

  #chooserBoxes {
    justify-content: center;
  }
}