body{
  background-color: #fff;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

a {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes spinnerColor {
  0% { color: #40ebbe; }
  25% { color: #2fb390; }
  50% { color: #2a9b7d; }
  75% { color: #3ddab0; }
  100% { color: #40ebbe; }
}

#chooserContainer{
  display: grid;
  grid-template-columns: 260px auto 400px;
  grid-template-rows: 50px auto;
  width: 100vw;
  height: 88vh;
  padding: 0;
  margin: 20px 0px 0px 0px;
}

.leftNavPanel{
  margin-top: 60px;
  width: 250px;
  background-color: #fff;
  position: fixed;
  overflow-y: auto;
  top: 0;
  padding-bottom: 0;
  left: 0;
  bottom: 0;
}

#newContentButtonContainer {
  width: 100%;
  margin: 20px 0px 15px 15px;
}

#newContentButton {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  align-items: center;
  justify-content: space-around;;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 24px;
  color: #606467;
  display: inline-flex;
  font-weight: 700;
  font-size: 14px;
  height: 48px;
  line-height: 22px;
  margin: 0;
  min-width: 120px;
  padding: 0px 26px 0px 6px;
  text-transform: none;
  cursor: pointer;
}

#newContentButton:hover {
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
  background-color: #f8f9fa;
  outline: none;
}

#newContentButtonMenu {
  position:absolute;
  width: 225px;
  height: auto;
  top: 20px;
  right: 12px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  padding: 0px;
}

.newContentButtonMenuSection { 
  display: block;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  padding: 12px 0px;
}

.newContentButtonMenuItem {
  display: block;
  width: 100%;
  line-height: 2em;
  font-size: 15px;
  font-weight: 100;
  padding: 3px 12px;
  color: rgb(62, 62, 62);
  transition: 0.3s;
  text-decoration: none;
}

.newContentButtonMenuItem:hover {
  background: #d8d8d8;
}

#leftNavPanelMenu {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  min-height: 80px;
  outline: none;
  margin: 25px 0px;
  padding-right: 16px;
  padding-top: 0;
}

.leftNavPanelMenuItem {
  align-items: center;
  border-radius: 0 50px 50px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  color: #5e5e5e;
  padding: 10px 1px 10px 30px;
  white-space: nowrap;
  width: 100%;
  font-size: 13px;
  border: solid transparent;
  border-width: 1px 1px 1px 0;
  overflow-x: hidden;
}

.menuDoughnutIcon {
  color: #8c8c8c;
  margin-right: 15px;
  font-size: 11px;
  margin-left: 3px;
}

.menuTwirlIcon {
  font-size: 17px;
  color: #8c8c8c;
  margin-right: 15px;
  margin-left: 6px;
}

.activeLeftNavPanelMenuItem {
  background-color: #e8f0fe;
  border: solid transparent;
  border-width: 1px 1px 1px 0;
  color: #1967d2;
}

.activeLeftNavPanelMenuItem .menuItemIcon {
  color: #1967d2;
}

#formContainer {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  max-width: 1050px;
  margin: 5px 0;
  padding-right: 20px;
  overflow-y: scroll;
}

#formTopbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 3px;
  box-sizing: border-box;
}

#formBackButton {
  display: flex;
  align-items: center;
  cursor: pointer; 
  color: #38ab8e;
  font-size: 15px;
}

#formBackButton:hover {
  color: #41d0ac;
}

#formContainer form {
  padding: 20px 35px;
  background: #f4f4f4;
}

.formGroup-12 {
  padding: 10px 0px;
  display: block;
  width: 100%;
}

.formGroup-4 {
  padding: 4px 0px;
  display: inline-block;
  width: 32%;
}

.formGroupWrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
}

.formInput {
  width: 100%;
  box-sizing: border-box;
	border: 1px solid #C2C2C2;
	border-radius: 3px;
  padding: 7px;
  outline: none;
  line-height: 1.5;
}

.formSelect {
  display: block;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

#formContainer textarea {
  height: 135px;
}

#formButtonsContainer {
  width: 100%;
  padding: 20px 0px ;
}

.formButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#formSubmitButton {
  display: inline-block;
  border: none;
	padding: 8px 15px 8px 15px;
	background: #43aa90;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
  margin-right: 15px
}

#formSubmitButton:hover {
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
  background-color: #6ac4ae;
  outline: none;
  cursor: pointer;
}

#formCancelButton {
  display: inline-block;
  border: none;
	padding: 8px 15px 8px 15px;
	background: #ff0000;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
}

#formCancelButton:hover {
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
  background-color: #ff4444;
  outline: none;
  cursor: pointer;
}

.branchBox{
  border-radius: 15px;
  border: 2px solid rgb(43, 43, 43);
  padding: 0px 20px 10px 20px;
  width: 200px;
  height: 100px;
  margin: 10px;
  z-index: 0;
}

#topToolbar {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  padding: 0px 15px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #202124;
}

#topToolbarToolbox {
  position: relative;
  width: 400px;
  display:flex;
  margin-right: 15px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center
}

.topToolbarToolboxIconWrapper {
  width: 40px;
  height: 40px;
  margin-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background: none;
  cursor:pointer;
  transition: 0.2s;
}

.topToolbarToolboxIconWrapper:hover {
  background: #ebf3ff;
}

.topToolbarToolboxIcon {
  font-size: 20px;
  color: #a0a0a0;
  transition: 0.2s;
}

.topToolbarToolboxIconWrapper:hover .topToolbarToolboxIcon {
  color: #6f6f6f;
}

.toolboxIconInfo {
  display: none;
  position: absolute;
  top: 40px;
  font-size: 11px;
  padding: 1px 4px;
  color: #fff;
  background: #7b7b7b;
  white-space: nowrap;
}

.topToolbarToolboxIconWrapper:hover .toolboxIconInfo {
  display: block;
}

#contentList{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.addContentToCourseButtonWrapper {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor:pointer;
}

.addContentToCourseButtonWrapper {
  right: 16px;
}

.addContentButton {
  font-size: 16px;
  color: #a0a0a0;
  transition: 0.2s;
}

.addContentButtonWrapper:hover .addContentButton {
  color: #6f6f6f;
}

#branchBrowser {
  display: block;
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  flex-wrap: wrap;
}

#filterPanel {
  display: flex;
  align-items: center;
}

#filterForm {
  position:absolute;
  height: auto;
  z-index: 10;
  top: 140px;
  left: 330px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border-radius: 2px;
  padding: 5px;
}

#editFiltersButton {
  margin: 15px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 24px;
  color: #606467;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  min-width: 120px;
  text-transform: none;
  cursor: pointer;
  outline: none;
}

#applyFilterButton {
  float: right;
  margin: 15px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 24px;
  color: #606467;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  min-width: 120px;
  text-transform: none;
  cursor: pointer;
  outline: none;
}

#addFilterButton {
  margin: 8px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  color: #606467;
  font-weight: 700;
  font-size: 20px;
  text-transform: none;
  cursor: pointer;
  outline: none;
}

#removeFilterButton {
  margin: 8px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  color: #db2828;
  font-size: 18px;
  text-transform: none;
  cursor: pointer;
  outline: none;
}

.filter {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.filterSelectInput {
  display: block;
  color: #444;
  padding: 5px 10px;
  min-width: 9em;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  outline: none;
}

.filterValueInput {
  min-width: 18em;
  height: 33px;
  font-size: 18px;
  box-sizing: border-box;
	border: 1px solid #C2C2C2;
	border-radius: 3px;
  padding: 5px;
  outline: none;
}

#applyFilterButton:hover, #addFilterButton:hover, #removeFilterButton:hover, #editFiltersButton:hover {
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
  background-color: #f8f9fa;
  outline: none;
}

.tree {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  overflow-x: hidden;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  transform: scale(1.2);
  transform-origin: top left;
  margin-top: 15px;
}

#mainPanel {
  display: block;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.switchable-toggle-container {
  cursor: pointer;
  display: flex;
  min-height: 30px;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 375px) {
  #chooserContainer {
    display: block;
  }

  #chooserBoxes {
    justify-content: center;
  }
}