body{
  background-color: rgb(246, 248, 255);
  padding: 0;
  margin: 0;
  font-family: 'Droid Serif','Georgia', 'Times New Roman', 'Times', 'serif';
}
#title{
  display:inline-block;
}
.Button{
  display:inline-block;
}
/* #button_title{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  padding:  7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
 }
 .button{
   background-color: red;
 } */
/*.button {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}
 .button_disabled {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}  */

.contenxtPanelButton{
  grid-row:2/3;
  grid-column: 1/2;
  font-size:15px;
  padding: 2px 2px;
}
.button:hover {
  background-color: blue;
  color: white;
}

#editorContainer{
  display: grid;
  grid-template-columns: 200px auto 400px;
  grid-template-rows: 100px 50px auto;
  width: 100vw;
  height: 100vh;
  padding: 0;
  /* background-color: blue; */
  /* margin-top: 150px; */
}
#TextEdit_closeViewer{
  grid-column: 2/4;
  grid-row: 3 / 4;
}
#TextEdit_closeContextPanel{
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
#TextEdit_closeBoth{
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
#contextPanelMenu{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  /* background-color: rgb(163, 154, 118); */
}
#contextPanel{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  overflow: scroll; 
  /* background-color: rgb(163, 154, 118); */
}
#nocontextPanel{
  display:none;
  /* background-color: rgb(163, 154, 118); */
}
#textEditMenu{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* background-color: rgb(163, 154, 118); */
}
#textEdit{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  /* background-color: rgb(163, 154, 118); */
}
#editViewMenu{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  /* background-color: rgb(163, 154, 118); */
}
#editView{
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  /* background-color: rgb(163, 154, 118); */
}
/* 768
1024 */
@media only screen and (max-width: 1024px ){
/* 
.button {
  background-color: white; 
  color: purple; 
  border: 2px solid #4CAF50;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 1px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}
 .button_disabled {
  background-color: white;
  color: purple;
  border: 2px solid #555555;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 1px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}  */
  #editorContainer{
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 50px 50px auto;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  /* #fullTextEdit{
    grid-column: 2/4;
    grid-row: 3 / 4;
  } */
  #contextPanelMenu{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* background-color: rgb(163, 154, 118); */
  }
  #contextPanel{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    overflow: scroll; 
  
    /* background-color: rgb(163, 154, 118); */
  }
  #textEditMenu{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* background-color: rgb(163, 154, 118); */
  }
  #textEdit{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    /* background-color: rgb(163, 154, 118); */
  }
  #editViewMenu{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    /* background-color: rgb(163, 154, 118); */
  }
  #editView{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    /* background-color: rgb(163, 154, 118); */
  }}
@media only screen and (max-width: 768px){
  #editorContainer{
    display: grid;
    grid-template-columns: 100px auto 200px;
    grid-template-rows: 50px 50px auto;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  #fullTextEdit{
    grid-column: 2/4;
    grid-row: 3 / 4;
  }
  #contextPanelMenu{
    font-size:5px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* background-color: rgb(163, 154, 118); */
  }
  #contextPanel{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    overflow: scroll; 
  
    /* background-color: rgb(163, 154, 118); */
  }
  #textEditMenu{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* background-color: rgb(163, 154, 118); */
  }
  #textEdit{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    /* background-color: rgb(163, 154, 118); */
  }
  #editViewMenu{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    /* background-color: rgb(163, 154, 118); */
  }
  #editView{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    /* background-color: rgb(163, 154, 118); */
  }
}


