body {
    height: 100vh;
    margin: 0;
}

#root {
    height: 100%;
    display: grid;
    grid-template-rows: 60px auto;
}

#gradebookContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100%;
}

#leftNav {
    background-color: rgb(228, 228, 228);
    position: relative;
    padding: 1em 2em;
    box-shadow: 3px 0px 10px #bbb;
    overflow-y: auto;
}

div.gradebookNavItem {
    width: 100%;
    border-bottom: solid #6e6e6e 1px;
    margin-bottom: 1em;
}

#leftNav div a {
    width: 100%;
}

#content {
    margin: 2em;
    max-height: 100%;
    overflow-y: auto;
}

.spacer {
    height: 1em;
    width: 100%;
}

a.gradebookNavItem {
    position: absolute;
    bottom: 0;
    margin: 1em;
    border-bottom: solid #6e6e6e 1px;
}

.Doenet-table thead tr th,
.Doenet-table thead tr td,
.Doenet-table tbody tr th,
.Doenet-table tbody tr td {
    max-width: 7em;
}