

.headingContainer{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: #6de5ff;
  justify-content: space-between;
  padding: 6px;
  width: 100%;
  height: 50px; 
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.28);
  z-index: 5;
  line-height: 0;
}
.select {
  background-color: #6de5ff;
  border-color: #6de5ff;
}

.toolTitle{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 6px 0px;
  padding: 0px 20px;
}

.toolTitle span {
  font-size: 20px;
  color: #333333;
  /* color: #fff; */
  font-weight: 700;
  margin-left: 10px;
}

.headingTitle{
  flex-grow: 1;
  display:flex;
  padding: 0 10px;
  align-items: center;
  line-height: 2em;
  justify-content: flex-start;
}

.headingTitle span {
  display: block;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* color: #6d4445; */
  color: #333333;
}

.headingToolbar {
  position: relative;
  width: 400px;
  display:flex;
  margin: 0px 20px 0px 10px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#doenetLogo {
  cursor: pointer;
}

#previousPageButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: none;
  padding: 7px 3px;
  font-size: 13px;
  color: #333333;
  text-transform: none;
  font-weight: 700;
  border: 0.5px solid;
  border-color: #333333;
  transition: 300ms;
  margin: 0px 10px;
}

#previousPageButton:hover, #previousPageButton:hover #previousPageButtonIcon {
  background-color: #fff;
  border-color: #fff;

  color: #6d4445;
}

#previousPageButtonIcon {
  font-size: 12px;
  margin: 1px auto;
  display: inline;
  background: none;
  color: #333333;
  transition: 300ms;
}

#userButton-anonymous {
    /* display: flex; */
    /* flex-direction: row; */
    /* font-size: 13px; */
    text-align: center;
    width: 28px;
    height: 28px;
    /* height: 30px; */
    border-radius: 50%;
    /* cursor: pointer; */
    background-color: none;
    padding: 5px 0px;
    color: #333333;
    text-transform: none;
    font-weight: 700;
    border: 0.5px solid;
    border-color: #333333;
    transition: 300ms;
    margin: 0px 10px;
}

#userButton-anonymous:hover, #userButton-anonymous:hover #userButtonIcon {
  background-color: #fff;
  border-color: #fff;
  color: #6d4445;
}

#userButtonIcon {
  font-size: 15px;
  margin: 0px 0px 0px 1px;
  display: inline;
  background: no-repeat;
  color: #333333;
  transition: 300ms;
}

.toolboxContainer {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

#toolboxButton {
  font-size: 20px;
  color: #333333;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
}

.toolboxContainer:hover #toolboxButton{
  color: #fff;
}

.toolbox {
  position:absolute;
  width: 225px;
  height: auto;
  top: 45px;
  right: -75px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border-radius: 2px;
  padding: 5px;
}

.toolboxNavLink {
  font-size: 16px;
  text-align: left;
  background: #fff;
  margin: 6px 0px;
  padding: 0px 12px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.toolboxNavLink:hover {
  background: rgb(111, 111, 111);
}

.toolboxNavLink a {
  display: block;
  width: 100%;
  line-height: 2em;
  color: rgb(85, 85, 85);
  transition: 0.3s;
  text-decoration: none;
}

.toolboxNavLink a:hover {
  margin-left: 15px;
  color: rgb(240, 240, 240);
}

.selectedToolboxNavLink {
  font-size: 16px;
  text-align: left;
  background: #fff;
  padding: 6px 12px;
  pointer-events: none;
  cursor: default;
}

.selectedToolboxNavLink a{
  display: block;
  width: 100%;
  color: rgb(177, 177, 177);
  text-decoration: none;
}
.hamburger{
  display: none;
}
.menu-slider{
  display: none;
}

@media only screen and (max-width: 767px) {
  .menu-slider{
    display: block;
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #6de5ff;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }
  .menu-slider.off {
    top:-100px;

  }
  .menu-slider.on {
    top: 50px;
  }
  .hamburger{
    height:50px;
    min-width: 32px;
    display: flex;
    padding: 0px 0px 0px 20px;
    align-items: center;
  }
  #hamburger-icon{
    vertical-align: middle;
    font-size: 20px;
  }
  .slider-item{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;    
  }
  .toolTitle {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 20px;
    height: 40px;

  }

  .toolTitle span {
    font-size: 18px;
    vertical-align: middle;
  }

  .headingToolbar {
    display:flex;
    width: 150px;
    /* justify-content: space-between; */
    /* padding: 0 20px; */
    padding: 0px 10px 0px 40px;
    margin: 0px 20px 0px 10px;
    text-align: center;
  }

  .headingTitle {
    display: none;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    text-align: center;
  }

  .headingTitle span {
    font-size: 18px;
  }

  #doenetLogo {
    height: 30px;
    cursor: pointer;
    vertical-align: middle;
  }

  #toolboxButton {
    font-size: 16px;
  }

  /* #userIcon {
    font-size: 16px;
  } */

  #userButton-anonymous{
    display: flex;
    align-items: center;
    padding: 0px;
    width: 30px;
    height: 30px;
    
    /* flex-direction: row; */
    font-size: 13px;
    border-radius: 50%;
    cursor: pointer;
    padding: 7px 5px;
    color:#333333;
    text-transform: none;
    font-weight: 700;
    border: 0.5px solid;
    border-color: #333333;
    transition: 300ms;
    margin: 0px 10px;
  }

  #userButtonIcon{
    font-size: 15px;
    margin: 1px 1px 1px 2px;
    display: inline;
    background: no-repeat;
    color: #333333;
    transition: 300ms;
  }
  #userButton-registered{
    display: none;
  }
  #userButton-phone{
    display: block;
  }


  .toolbox {
    width: 160px;
    top: 40px;
    right: -55px;
  }

  .headingContainer{
    position: fixed;
    justify-content: space-around;
    height: 50px;
    padding: 0px;
    line-height: 0;
  }
  .dropdown{
    display: none;
  
  }
  .dropbtn{
    display: none;
  }
  .toolboxContainer{
    display: none;
  }
  
}




