.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  display: inline-block;
  padding: 1em 2em;
  background: #5dc77a;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  border: none;
  padding: 1em 2em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}

span {
  z-index: 2;
  position: relative;
}

.glance {
  /* background: rgba(0, 0, 0, 0.25); */
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateY(50%);
}
