.dropbtn {
  background-color: #6de5ff;
  
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

.dropdown:active .dropbtn {
  /* background-color: #76d9ef; */
  background-color: white;

  
}