@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes spinnerColor {
  0% { color: #40ebbe; }
  25% { color: #2fb390; }
  50% { color: #2a9b7d; }
  75% { color: #3ddab0; }
  100% { color: #40ebbe; }
}