html {
  font-family: "Open Sans" !important;
  --mainBlue: #1a5a99;
  --lightBlue: hsl(209, 54%, 82%);
  --solidLightBlue: #8fb8de;
  --mainGray: #e2e2e2;
  --donutBody: #eea177;
  --donutTopping: #6d4445;
  --mainBorder: 2px solid black;
  --mainBorderRadius: 5px;
  --mainRed: #c1292e;
  --lightRed: hsl(0, 54%, 82%);
  --mainGreen: #29c143;
}
