/**
* DEBT - menuPanelMargin css variable does not exist
*/

.rdtPicker {
  margin-left: var(--menuPanelMargin, -50px);
}

.rdtDays {
  width: 220px;
}

.form-control {
  border: var(--mainBorder);
  border-radius: var(--mainBorderRadius);
  height: 18px;
  width: 170px;
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: var(--mainBlue);
}

.form-control:focus {
  outline: 2px solid var(--canvastext);
  outline-offset: 2px;
}

.rdtPicker td.rdtToday:before {
  border-bottom: 7px solid var(--mainBlue);
}
