.rdtPicker {
  margin-left: var(--menuPanelMargin, 0px);
}

.form-control {
  border: var(--mainBorder);
  border-radius: var(--mainBorderRadius);
  height: 18px;
  width: 170px;
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: var(--mainBlue);
}

.rdtPicker td.rdtToday:before {
  border-bottom: 7px solid var(--mainBlue);
}
