.button {
    height: 40px;
    margin: 50px;
    border-radius: 5px;
    background-color: white;
  }

.align {
    height: 500px;
    width: auto;
    padding: 50px;
}

  .donut-main{
    position: relative;
    animation: donutMove 14s ease alternate infinite;
  }
  
  @keyframes donutMove {
    from {
        transform: translate(0px);
    }
    50% {
        transform: translate(900px);
    }
    to {
        transform: translate(0px);
    }
}

.donut-scale{
    position: relative;
    animation: donutScale 1s linear infinite alternate;
}

@keyframes donutScale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.5);
    }
}