.select-box-container {
  height: 30px;
  border: 1px solid var(--mainGray);
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.drop-down-select{
  position: relative;
  height: 30px;
  left:-150px;
}
.select-box-box {
  width: 120px;
  /* position: absolute; */
}

.select-box-selected-item {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-bottom: 2px;
  vertical-align: middle;
  
}
.select-box-selected-item input {
  width: calc(100% - 30px);
  height: 100%;
  border: 0;
  outline: none;
}

.select-box-items{
  z-index:1000;
  position: fixed;
  width: 200px;
  background-color: var(--canvas);
  border: 1px solid var(--mainGray);

  box-shadow: 0 2px 4px -1px var(--mainGray), 0 4px 5px 0 var(--mainGray), 0 1px 10px 0 var(--mainGray);
}

.select-box-items div {
  border: none;
  line-height: 2em;
  height: 3em;
  display: flex;
  align-items: center;
}

.select-box-items .parent {
  color: var(--canvastext);
  padding: 0px 16px;
}

.child-container {
  padding: 5px 16px;
  cursor: pointer;
}

.child-container:hover {
  background-color: var(--mainGray);
}

.child-icon {
  width: 20px;
  height: 20px;
}

.select-box-arrow {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  display: inline-block;
  background: var(--mainGray);
  position: absolute;
  right: 0;
  top: 0;
}

.select-box-arrow-down {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--canvastext);
}

.select-box-arrow-up {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid var(--canvastext);
}

