.item {
  background: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
}

.item:hover {
  cursor: pointer;
  background: #f5f6f7;
}
