/* The next 4 were already here, I left them for now */
.drivecardContainer * {
  box-sizing: border-box;
  user-select: none;
} */

.drivecardContainer {
  margin: 0;
  width: 100%;
  justify-content: center;
  overflow:hidden;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  width: 100%;
  padding: 15px;
  overflow-y: scroll;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  outline:none;
}
.adiv {
  /* position: absolute; */
  will-change: transform, width, height, opacity;
  padding: 15px;
}

/* The next 5 were in the tutorial, I left them for now */
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 4%;
}
figure {
  flex-basis: 22%;
}
.span2 {
  flex-basis: 48%;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
/* set font family and background gradient */
body {
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(353deg, rgba(148,210,189,1) 40%, rgba(61,147,151,1) 100%);
}

/* Image */
img {
  height: 100%;
  /* width: 100%; */
  color: red;
  background-image: url(${(props) => props.url});
  background-color: ${(props) => `#${props.color}`};
  background-size: cover;
  background-position: center;
}

/* DriveCardContainer */
figure {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 10px;
  line-height: 12px;
  border-radius: 5px;
  display: flex; /*added*/
  flex-direction: column; /*added*/
  justify-content: space-between;
  background-image: url(${(props) => props.url});
  background-color: ${(props) => `#${props.color}`};
  border: 2px solid #040f1a;
}
/* LabelContainer and Info */
figcaption {
  text-transform: capitalize;
  margin: 7px;
  /* width: 100%; */
  color: #040f1a;
  font-family: helvetica;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-radius: 0px 0px 5px 5px;
  position: absolute;
  border-top: 2px solid #040f1a;
  height: 65px;
  width: inherit;
  background: #fff;
}

/* This was in the tutorial, I left it for now */
/* reduces the top margin on the h2, bottom on the p, and leaves a 0.5rem gap between the two */
figcaption * {
  margin: 0.5rem;
}
