#General
PORT="3000"
CONFIRM_SIGNIN_URL="http://localhost:8000/confirmSignIn"
LOGIN_CALLBACK_ROOT="http://localhost:8000/"

#Flags
ALLOW_TEST_LOGIN="true"
ADD_TEST_APIS="true"
CONSOLE_LOG_EMAIL="true"

#Database
DATABASE_URL="mysql://myuser:mypassword@localhost:3306/doenet"
DATABASE_USER="myuser"
DATABASE_PASSWORD="mypassword"
DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_NAME="doenet"
    
SESSION_DATABASE_NAME="doenet_session"

#Login credentials
SESSION_SECRET="mysecret"
GOOGLE_CLIENT_ID="mysecret"
GOOGLE_CLIENT_SECRET="mysecret"
MAGIC_LINK_SECRET="mysecret"