# ________________________________________________________
#
# This is an example .env setup for local development.
# You can copy this to `.env` and edit values as needed.
# _________________________________________________________
#
# To edit values for the production site, see
# `/infra/cloudformation/prod-doenet-taskdef-includes.yml`
# 
# To edit values for deployed dev site (dev3), see
# `/infra/cloudformation/dev3-doenet-taskdef-includes.yml`



#General
PORT="3000"
APP_URL="http://localhost:8000" # Base URL of the frontend app
LOG_LEVEL="info"

#Flags
# Dev flags (only enable for local dev, not production)
ENABLE_TEST_AUTH_BYPASS="true"
ENABLE_TEST_ROUTES="true"
MOCK_SIGNIN_EMAIL="true"
PRETTY_LOGS="true"

#Database
# DATABASE_URL must match the individual vars below. Update both if you change any connection details.
DATABASE_URL="mysql://myuser:mypassword@localhost:3306/doenet"
DATABASE_USER="myuser"
DATABASE_PASSWORD="mypassword"
DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_NAME="doenet"

#Email (AWS SES)
# Required only if MOCK_SIGNIN_EMAIL is false
EMAIL_SES_REGION="us-east-1"
EMAIL_SES_ARN="arn:aws:ses:us-east-1:123456789012:identity/example.com"
EMAIL_SES_FROM_ADDRESS="no-reply@example.com"

#Login credentials
SESSION_SECRET="mysecret"
GOOGLE_CLIENT_ID="mysecret"
GOOGLE_CLIENT_SECRET="mysecret"
MAGIC_LINK_SECRET="mysecret"

#Discourse
DISCOURSE_URL="https://community.example.com"
DISCOURSE_SSO_SECRET="mysecret"
DISCOURSE_API_KEY="mysecret"
DISCOURSE_API_USERNAME="system"
