name: CI

on:
  push:
    branches: main
  pull_request:
    branches: ["*"]

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Upload workspace with node_modules
        uses: actions/upload-artifact@v4
        with:
          name: workspace
          path: |
            ./
          # Excluding .git makes the artifact much smaller
          # but you can leave it in if needed
          # !.git/

  build-client:
    runs-on: ubuntu-latest
    needs: install

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace
          path: .

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm run --workspace client build

  build-server:
    runs-on: ubuntu-latest
    needs: install

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace
          path: .

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm run --workspace server build

  test-server:
    runs-on: ubuntu-latest
    needs: install

    env:
      PORT: 3306
      DATABASE_URL: mysql://root:root@localhost:3306/db

    steps:
      - name: Start MySQL
        run: |
          sudo /etc/init.d/mysql start
          mysql -e "CREATE DATABASE IF NOT EXISTS db;" -uroot -proot

      - uses: actions/download-artifact@v4
        with:
          name: workspace
          path: .

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm test --workspace server

  lint-client:
    runs-on: ubuntu-latest
    needs: install

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace
          path: .

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm run --workspace client lint:check

  lint-server:
    runs-on: ubuntu-latest
    needs: install

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace
          path: .

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm run --workspace server lint:check

  lint-shared:
    runs-on: ubuntu-latest
    needs: install

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace
          path: .

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm run --workspace shared lint:check

  format-client:
    runs-on: ubuntu-latest
    needs: install

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace
          path: .

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm run --workspace client format:check

  format-server:
    runs-on: ubuntu-latest
    needs: install

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace
          path: .

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm run --workspace server format:check

  format-shared:
    runs-on: ubuntu-latest
    needs: install

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace
          path: .

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm run --workspace shared format:check
