body{
  background-color: rgb(246, 248, 255);
  padding: 0;
  margin: 0;
  /* font-family: 'Droid Serif','Georgia', 'Times New Roman', 'Times', 'serif'; */
}

.button:hover {
  color: white;
}



/* 1024-Infinity */
/* COMPUTER */

#editorContainer{
  display: grid;
  grid-template-columns: 200px 700px auto;
  grid-template-rows: 50px auto;
  width: 100vw;
  height: 100vh;
  padding: 0;
 
}
#pageNavPhone{
  display: none;
}

#contextPanelMenu{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 5px;
}

#contextPanel{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow: scroll; 

}

#textEditMenu{
  grid-column: 2 / 3;
  grid-row: 1/2;
  padding: 5px;
 
}
#textEdit{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  
}
#editViewMenu{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding: 5px;
  
}
#editView{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
 
}


/* 768 - 1024 */
/* TABLET */
@media only screen and (max-width: 1024px ){

  #editorContainer{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto 50px auto ;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  #pageNavPhone{
    display: none;
  }

  #contextPanelMenu{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 5px;
}

  #contextPanel{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow: scroll; 
  }

  #textEditMenu{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding:5px;
  }

  #textEdit{
    grid-column: 2 / 3;
    grid-row: 2/ 3;
  }

  #editViewMenu{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  #editView{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  

}

/* 0 - 768 */
/* PHONE */
@media only screen and (max-width: 768px){

  #editorContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto ;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }


  #contextPanelMenu,#textEditMenu,#editViewMenu{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 5px;
  }

  #contextPanel,#textEdit,#editView{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow: scroll; 

  }


  #pageNavPhone{
    display:block;
  }
  
  .pageNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    position: fixed;
    bottom:10px;
   
    margin: 0 auto;
    text-align: center;    
   
  }

}
