.headingContainer{
  display: flex;
  /* position: fixed; */
  flex-direction: row;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid #E3E2E2;
  justify-content: space-between;
  /* padding: 6px; */
  width: 100%;
  height: 50px;
  z-index: 5;
  line-height: 0;
}
.select {
  background-color: white;
  border-color: #E3E2E2;
}

.toolName{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 6px 0px;
  padding: 0px 20px;
}

.toolName span {
  font-size: 20px;
  color: #333333;
  /* color: #fff; */
  font-weight: 700;
  margin-left: 10px;
}

.headingTitle{
  flex-grow: 1;
  display:flex;
  padding: 0 10px;
  align-items: center;
  line-height: 2em;
  justify-content: flex-start;
}

.headingTitle span {
  display: block;
  font-size: 20px;
  white-space: nowrap;
  overflow-y: auto;
  /* text-overflow: ellipsis; */
  /* color: #6d4445; */
  color: #333333;
  scrollbar-width: none; /*Firefox;*/
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  
}
.headingTitle span::-webkit-scrollbar{
  display: none;

}

.headingToolbar {
  position: relative;
  width: 400px;
  display:flex;
  margin: 0px 20px 0px 10px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#doenetLogo {
  /* cursor: pointer; */
}

/* #previousPageButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: none;
  padding: 7px 3px;
  font-size: 13px;
  color: #333333;
  text-transform: none;
  font-weight: 700;
  border: 0.5px solid;
  border-color: #333333;
  transition: 300ms;
  margin: 0px 10px;
} */

/* #previousPageButton:hover, #previousPageButton:hover #previousPageButtonIcon {
  background-color: #fff;
  border-color: #fff;

  color: #6d4445;
} */
/* 
#previousPageButtonIcon {
  font-size: 12px;
  margin: 1px auto;
  display: inline;
  background: none;
  color: #333333;
  transition: 300ms;
} */

#userButton-anonymous {
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: none;
    padding: 5px 0px;
    color: #333333;
    text-transform: none;
    font-weight: 700;
    border: 0.5px solid;
    border-color: #333333;
    transition: 300ms;
    margin: 0px 10px;
}

#userButton-anonymous:hover, #userButton-anonymous:hover #userButtonIcon {
  background-color: #fff;
  border-color: #fff;
  color: #6d4445;
}

#userButtonIcon {
  font-size: 15px;
  margin: 0px 0px 0px 1px;
  display: inline;
  background: no-repeat;
  color: #333333;
  transition: 300ms;
}

.toolboxContainer {

  position: relative;
  padding: 15px;
  cursor: pointer;
}

#toolboxButton {
  
  font-size: 25px;
  color: #333333;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
}

.toolboxContainer:hover #toolboxButton{
  color: grey;
}

.toolbox {
  position:absolute;
  width: 225px;
  height: auto;
  top: 50px;
  z-index:999;
  right: -75px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  border-radius: 2px;
  padding: 5px;
}

.toolboxNavLink {
  font-size: 16px;
  text-align: left;
  background: #fff;
  margin: 6px 0px;
  padding: 0px 12px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.toolboxNavLink:hover {
  background: rgb(111, 111, 111);
}

.toolboxNavLink a {
  display: block;
  width: 100%;
  line-height: 2em;
  color: rgb(85, 85, 85);
  transition: 0.3s;
  text-decoration: none;
}

.toolboxNavLink a:hover {
  margin-left: 15px;
  color: rgb(240, 240, 240);
}

.selectedToolboxNavLink {
  font-size: 16px;
  text-align: left;
  background: #fff;
  padding: 6px 12px;
  pointer-events: none;
  cursor: default;
}

.selectedToolboxNavLink a{
  display: block;
  width: 100%;
  color: rgb(177, 177, 177);
  text-decoration: none;
  line-height: 2em;
}
.headerPlayBtn{
  display: none;
}
.menu-slider{
  display: none;
}

@media only screen and (max-width: 767px) {


  .menu-slider{
    display: block;
    width: 100%;
    background-color: white;
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }

  .menu-slider.off {
    opacity: 0;
    margin-bottom: 50px;
  }

  .menu-slider.on {
    margin-top: 0px;
    opacity: 1;
  }

  .headerPlayBtn{
    height:50px;
    min-width: 32px;
    display: flex;
    padding: 0px 0px 0px 20px;
    align-items: center;
  }
  #headerPlayBtn-icon{
    vertical-align: middle;
    font-size: 20px;
  }
  .extended-header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;    
  }
  .toolName {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 20px;
    height: 40px;

  }

  .toolName span {
    font-size: 18px;
    vertical-align: middle;
  }

  .headingToolbar {
    display:none;
  
  }
.headingTitle{
  display: none;
}
  .headingTitlePhone{
    width: 100%;
    max-width: none;
    margin: 0 auto;
    text-align: center;
  }

  .headingTitlePhone span {
    display: block;
    font-size: 18px;
    white-space: nowrap;
    overflow-y: auto;
    /* color: #6d4445; */
    color: #333333;
    scrollbar-width: none; /*Firefox;*/
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    
  }
  .headingTitlePhone span::-webkit-scrollbar{
    display: none;

  }

  #doenetLogo {
    height: 35px;
    /* cursor: pointer; */
    vertical-align: middle;
  }

  #toolboxButton {
    font-size: 25px;
  }

  #userButton-anonymous{
    display: flex;
    align-items: center;
    padding: 0px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    border-radius: 50%;
    cursor: pointer;
    padding: 7px 5px;
    color:#333333;
    text-transform: none;
    font-weight: 700;
    border: 0.5px solid;
    border-color: #333333;
    transition: 300ms;
    margin: 0px 10px;
  }

  #userButtonIcon{
    font-size: 15px;
    margin: 1px 1px 1px 2px;
    display: inline;
    background: no-repeat;
    color: #333333;
    transition: 300ms;
  }
  #userButton-registered{
    display: none;
  }
  #userButton-phone{
    display: block;
  }
  .toolboxContainer {
    position: relative;
    padding: 10px;
    cursor: pointer;
  }

  .toolbox {
    position: absolute;
    width: 160px;
    top: 50px;
    right: -55px;
    z-index: 999;
    height: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    border-radius: 2px;
    padding: 5px;
  }

  .headingContainer{
    justify-content: space-around;
    height: 50px;
    padding: 0px;
    line-height: 0;
    border-bottom: 0px;
  }
  .select {
    background-color: white;
    border-color: #E3E2E2;
  }
}




